<section class="about-section" id="about-section">
  <div class="desc-box">
    <div class="auto-container">
      <div class="sec-title no-underline">
        <h3><%= t ".garden" %> </h3>
        <h2><%= t ".every" %></h2>
        <p><%= t ".pell" %></p>
      </div>
    </div>
  </div>
  <div class="lower-content" style="background-image:url(/assets/1.jpg);">
    <div class="auto-container">
      <div class="content-box">
      <div class="row clearfix">
        <div class="col-md-7  col-sm-7 col-xs-12 column">
          <h2 class="main-title"><%= t ".our" %></h2>
          <h3><%= t ".black" %></h3>
          <p><%= t ".aliquam" %></p>
          <p><%= t ".fusce" %></p>
          <h3><%= t ".tipping" %></h3>
          <p><%= t ".quisque" %></p>
          <ul class="styled-list">
            <li><%= t ".nulla" %></li>
            <li><%= t ".aliquam" %></li>
            <li><%= t ".suspendisse" %></li>
            <li><%= t ".Morbi" %></li>
            <li><%= t ".Cras" %></li>
            <li><%= t ".nulla" %></li>
            <li><%= t ".aliquam" %></li>
          </ul>
          <p><%= t ".sodales" %></p>
        </div>
        <div class="col-md-5  col-sm-5 col-xs-12 column">
          <article class="featured-box">
            <%= image_tag "fr.png" %>
            <h2><%= t ".our_miss" %></h2>
            <div class="text"><p><%= t ".proin" %></p></div>
          </article>
          <article class="featured-box">
            <%= image_tag "fr1.jpeg" %>
            <h2><%= t ".our_vision" %></h2>
            <div class="text"><p><%= t ".nulla" %></p></div>
          </article>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-section">
  <div class="auto-container">
    <div class="sec-title no-underline">
      <h3><%= t ".meet" %></h3>
      <h2><%= t ".we_are" %></h2>
      <p><%= t ".semper" %></p>
    </div>
  <div class="row clearfix">
    <div class="col-md-3 col-sm-6 col-xs-12 column wow fadeInLeft">
      <article class="inner-box">
        <%= image_tag "th.jpg" %>
        <div class="content">
          <div class="title-box">
            <h4><%= t ".timo" %></h4>
            <p><%= t ".tsenior" %></p>
          </div>
          <div class="text">
            <p><%= t ".quisque" %> </p>
          </div>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
      <article class="inner-box">
        <%= image_tag "dai.jpg" %>
          <div class="content">
            <div class="title-box">
              <h4><%= t ".timo1" %></h4>
              <p><%= t ".tsenior" %></p>
            </div>
          <div class="text">
            <p><%= t ".quisque" %> </p>
          </div>
          </div>
        </article>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
        <article class="inner-box">
          <%= image_tag "thai.jpg" %>
          <div class="content">
            <div class="title-box">
              <h4><%= t ".timo2" %></h4>
              <p><%= t ".tsenior" %></p>
            </div>
            <div class="text">
              <p><%= t ".quisque" %> </p>
            </div>
          </div>
        </article>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
      <article class="inner-box">
        <%= image_tag "tahei.jpg" %>
          <div class="content">
            <div class="title-box">
              <h4><%= t ".timo3" %></h4>
              <p><%= t ".tsenior" %></p>
            </div>
            <div class="text">
              <p><%= t ".quisque" %> </p>
            </div>
          </div>
      </article>
    </div>
  </div>
  </div>
</section>
<section class="fact-counter">
  <div class="auto-container">
    <div class="row clearfix">
      <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
        <div class="count-outer"><%= t ".so1" %></div>
        <div class="line"></div>
        <h4 class="counter-title"><%= t ".success" %></h4>
      </article>
      <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
        <div class="count-outer"><%= t ".so1" %></div>
        <div class="line"></div>
        <h4 class="counter-title"><%= t ".happy" %></h4>
      </article>
      <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
        <div class="count-outer"><%= t ".so2" %></div>
        <div class="line"></div>
        <h4 class="counter-title"><%= t ".award" %></h4>
      </article>
      <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
        <div class="count-outer"><%= t ".so1" %></div>
        <div class="line"></div>
        <h4 class="counter-title"><%= t ".run" %></h4>
      </article>
    </div>
  </div>
</section>
