<div class="contact-section" id="contact-section">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-md-8 col-sm-7 col-xs-12 column pull-right">
        <div class="sec-title">
          <h3><%= t ".drop" %></h3>
          <h2><%= t ".we" %></h2>
          <div class="line"></div>
        </div>
        <%= image_tag "ok.png" %>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-12 column pull-left">
        <div class="sec-title">
          <h3><%= t ".contact" %></h3>
          <h2><%= t ".connect" %></h2>
          <div class="line"></div>
        </div>
        <div class="info-box">
          <h3><%= t ".info" %></h3>
            <ul>
            <li><span class="icon fa fa-phone"></span><p><%= t ".so" %></p><p>
            <%= t ".so" %></p></li>
            <li><span class="icon fa fa-envelope"></span><p>
            <%= t ".info_1" %>
            </p></li>
            </ul>
            <br>
            <h3><%= t ".connect" %></h3>
            <div class="social-links">
              <%= link_to "#" do%>
                 <span class="fa fa-facebook-f"></span>
              <%end %>
               <%= link_to "#" do%>
                 <span class="fa fa-twitter"></span>
              <%end %>
               <%= link_to "#" do%>
                 <span class="fa fa-pinterest"></span>
              <%end %>
               <%= link_to "#" do%>
                 <span class="fa fa-google-plus"></span>
              <%end %>
               <%= link_to "#" do%>
                 <span class="fa fa-youtube-play"></span>
              <%end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
