<section class="bg-color-black pt-90 pb-60">
  <div class="auto-container">
  <div class="row clearfix">
  <article class="col-md-12 column">
    <ul class="accordion-box style-two">
      <li class="block">
        <div class="acc-btn active"><div class="icon-outer"><span class="icon fa icon-minus flaticon-minus-sign2"></span> <span class="icon icon-plus flaticon-plussign22"></span></div><%= t ".lorem" %></div>
        <div class="acc-content current">
           <div class="content">
            <p><%= t ".lorem1" %>
            </p>
          </div>
        </div>
      </li>
      <li class="block">
        <div class="acc-btn"><div class="icon-outer"><span class="icon fa icon-minus flaticon-minus-sign2"></span> <span class="icon icon-plus flaticon-plussign22"></span></div>  <p><%= t ".lorem1" %></div>
      </li>
      <li class="block">
      <div class="acc-btn"><div class="icon-outer"><span class="icon fa icon-minus flaticon-minus-sign2"></span> <span class="icon icon-plus flaticon-plussign22"></span></div>  <p><%= t ".lorem1" %></div>
      </li>
      <li class="block">
        <div class="acc-btn"><div class="icon-outer"><span class="icon fa icon-minus flaticon-minus-sign2"></span> <span class="icon icon-plus flaticon-plussign22"></span></div>  <p><%= t ".lorem1" %></div>
      </li>
      <li class="block">
        <div class="acc-btn"><div class="icon-outer"><span class="icon fa icon-minus flaticon-minus-sign2"></span> <span class="icon icon-plus flaticon-plussign22"></span></div>  <p><%= t ".lorem1" %></div>
      </li>
    </ul>
  </article>
  </div>
  </div>
</section>
  <section class="parallax-section theme-overlay overlay-deep-white" style="background-image:url(/assets/calendar1.png);">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <h2 class="mb-20"><%= t ".did" %></h2>
            <p class="font-16"><%= t ".etiam" %></p>
        </div>
    </div>
  </section>
</div>
