<div class="p-30">
  <%= form_for @event, remote: true do |f| %>
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
    <% end %>
    <%= render "shared/error_messages", object: f.object %>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
    <%= f.label :time_from %>
    <%= f.date_field :time_from, class: "form-control" %>
    <%= f.label :time_to %>
    <%= f.date_field :time_to, class: "form-control" %>
    <%= f.label :place %>
    <%= f.text_field :place, class: "form-control" %>
    <%= f.label :importance %>
    <%= f.text_field :importance, class: "form-control" %>
    <div class="form-group mt-30">
      <%= f.label :remind %>
      <%= f.check_box :remind, {checked: true}, data: {toggle: "toggle"}, class: "checkbox-inline" %>
    </div>
    <div class="form-group mt-30">
      <%= f.label :visibility %>
      <%= f.select :visibility, [[t(".public"), t(".public")], [ t(".private"), t(".private")]  ], class: "form-control" %>
    </div>
    <div class="form-group mt-30">
      <%= f.label :importance %>
      <%= f.select :importance, [[t(".very gravity"), t(".very gravity")], [t(".gravity"), t(".gravity")], [t(".normal"), t(".normal")], [t(".v_normal"), t(".v_normal")]], class: "form-control" %>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t ".close" %></button>
  </div>
</div>
