<div id="wrapper">
  <div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header user"><%= t "t.users" %></h1>
      </div>
    </div>

    <div>
      <table class="table table-bordered table-hover table_fix">
        <thead>
          <tr >
            <th class="fix"><%=  t ".id" %></th>
            <th class="fix"><%=  t ".email" %></th>
            <th class="fix"><%=  t ".role" %></th>
            <th class="fix"><%=  t ".action" %></th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <% unless current_user?user %>
            <tbody>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <%= user.email %>
                </td>
                <td><%= user.role %></td>
                <td>
                  <% unless user.admin? %>
                    <%= link_to t(".delete"), admin_user_path(user), method: :delete,
                      data: {confirm: t(".sure")} %>
                  <% else %>
                    <%=  t ".no1" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
