<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render "layouts/admin_header" %>
    <div class="page-wrapper chiller-theme toggled background_admin">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-header">
            <div class="user-pic">
              <%= image_tag "user.jpg" %>
            </div>
            <div class="user-info">
              <span class="user-name">
                <%= first_part_of current_user.email %>
              </span>
              <span class="user-role"><%= t ".admin" %></span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span><%= t ".online" %></span>
              </span>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span><%= t ".general" %></span>
              </li>
              <li class="sidebar-dropdown">
                <%= link_to admin_show_user_path do %>
                  <i class="fa fa-globe"></i>
                  <span><%= t ".user" %></span>
                <% end %>
              </li>
              <li class="sidebar-dropdown">
                <%= link_to "#" do %>
                  <i class="fa fa-shopping-cart"></i>
                  <span><%= t ".eco" %></span>
                <% end %>
              </li>
              <li class="sidebar-dropdown">
                <%= link_to "#" do %>
                  <i class="far fa-gem"></i>
                  <span><%= t ".components" %></span>
                <% end %>
              </li>
              <li class="sidebar-dropdown">
                <%= link_to "#" do %>
                  <i class="fa fa-book"></i>
                  <span><%= t ".Charts" %></span>
                <% end %>
              </li>
              <li class="sidebar-dropdown">
                <%= link_to "#" do %>
                  <i class="fa fa-globe"></i>
                  <span><%= t ".Maps" %></span>
                <% end %>
              </li>
              <li class="header-menu">
                <span><%= t ".Extra" %></span>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-calendar"></i>
                  <span><%= t ".Calendar" %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-folder"></i>
                  <span><%= t ".Examples" %></span>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-book"></i>
                  <span><%= t ".Documentation" %></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="sidebar-footer">
          <%= link_to "#" do %>
            <i class="fa fa-bell"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fa fa-envelope"></i>
          <% end %>
          <%= link_to "#" do %>
            <i class="fa fa-cog"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-power-off"></i>
          <% end %>
        </div>
      </nav>
      <main class="page-content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
