<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render "layouts/admin_header" %>
    <div class="page-wrapper chiller-theme toggled background_admin">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-header">
            <div class="user-pic">
              <%= image_tag "user.jpg" %>
            </div>
            <div class="user-info">
              <span class="user-name">
                <%= first_part_of current_user.email %>
              </span>
              <span class="user-role"><%= t ".admin" %></span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span><%= t ".online" %></span>
              </span>
            </div>
          </div>
          <%= yield :slidebar_content %>
        </div>
        <div class="sidebar-footer">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-power-off"></i>
          <% end %>
        </div>
      </nav>
      <main class="page-content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
