<h1><%= t ".reset" %></h1>
<p><%= t ".lick_pls" %></p>
<%= link_to t(".reset_btn"), edit_password_url(@resource, reset_password_token: @token) %>
<p><%= t ".expire_msg" %></p>
<p><%= t ".reset_noti" %></p>
